*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #212121;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 30px;
  font-weight: 300;
}

h1 span {
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  font-size: 15px;
  padding: 15px;
  border: none;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  width: 100%;
}

.input-group {
  width: 80%;
}

.input-group:nth-child(1) {
  margin-bottom: 20px;
}

button {
  font-size: 20px;
  color: #fff;
  margin: 40px auto;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  background: #9876b0;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  box-shadow: none;
  background: #8757a9;
}

.result  {
  text-align: center;
}

.imc-value {
  font-size: 25px;
  font-weight: bold;
}

.imc-info {
  font-family: "Raleway", sans-serif;
}
